<div class="banner-home">
      <div class="col-md-12">
        <div class="banner-logo">  
          <span class="banner-logo-content">E!</span>
        </div>
        <div class="banner-textbox">
          <span class="banner-textbox-content">Crowdsourcing Scientific Innovation</span>
        </div>
        <div class="banner-description">
          <span class="banner-description-content">Discover and collaborate on the most important scientific research of the day</span>
        </div>
        <div class="banner-version">
          <span class="banner-version-content">Beta 1.0</span>
        </div>
      </div>
</div>


<h1> Second part of home page! </h1>

	<%= will_paginate @link %>
<table>
  <thead>
    <tr>
      <th>title</th>
      <th>link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @link.each do |link| %>
      <tr>
        <td><%= link.title %></td>
        <td><%= link.url %></td>
        <td><%= link_to 'Comments', link %></td>
        <td><%= link_to 'Show', link %></td>
        <td><%= link_to 'Edit', edit_link_path(link) %></td>
        <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><% if current_user && current_user.votes.where(:link_id => link.id, :up => true).present? %>
    		  *
  			  <% else %>
    		  <%= link_to "+", votes_path(:vote => {:link_id => link.id, :up => true}), :method => :post %>
  		    <% end %>
        </td>
        <td><% if current_user && current_user.votes.where(:link_id => link.id, :up => false).present? %>
    		  ~
  			  <% else %>
    		  <%= link_to "-", votes_path(:vote => {:link_id => link.id, :up => false}), :method => :post %>
  		    <% end %>
        </td>
        <td>Votes: <%= link.votes.where(:up => true).count - link.votes.where(:up => false).count %></td>
      </tr>
    <% end %>



  </tbody>
</table>



<br>